.cardChar{
    padding: 1em 1em;
    margin: 15px 10px;
    height: 97% !important;
    background-color: #2c3154 !important;
    border-radius: 20px !important;
}
.cardTitle{
    color: white !important;
}
.divChar{
    height: 100% !important;
}
.modal-content{
    background-color: #ebedff !important;
}
.cardFooter{
    background-color: transparent !important;
    border-top: 0px !important;
}
.modalBodyChar{
    width: 100%;
}
.imgChar{
    width: 100%;
}
.modalFooterChar{
    width: 100%;
}
.colFooterChar{
    padding: 0 9px;
}
.detalleChar{
    font-weight: bold;
    margin: 0 4px 0 0;
}